@import 'tailwindcss';

@theme {
  --color-orange-50: #fff7ed;
  --color-orange-100: #ffedd5;
  --color-orange-200: #fed7aa;
  --color-orange-300: #fdba74;
  --color-orange-400: #fb923c;
  --color-orange-500: #f97316;
  --color-orange-600: #ea580c;
  --color-orange-700: #c2410c;
  --color-orange-800: #9a3412;
  --color-orange-900: #7c2d12;
  --color-orange-950: #431407;

  --color-gray-50: #fafaf9;
  --color-gray-100: #f5f5f4;
  --color-gray-200: #e7e5e4;
  --color-gray-300: #d6d3d1;
  --color-gray-400: #a8a29e;
  --color-gray-500: #78716c;
  --color-gray-600: #57534e;
  --color-gray-700: #44403c;
  --color-gray-800: #292524;
  --color-gray-900: #1c1917;
  --color-gray-950: #0c0a09;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

body {
  font-family: 'Garamound', 'Georgia', serif;
}

a {
  @apply text-orange-600 transition;
}

a:hover {
  @apply text-orange-800;
}

a:focus {
  @apply text-orange-800;
}

a:active {
  @apply text-orange-800;
}

.paragraph:after {
   content: 'Copied!';
   position: absolute;
   top: 0;
   right: 0;
   @apply px-3;
   @apply py-1;
   @apply text-sm;
   @apply rounded-xs;
   @apply bg-gray-200;
   @apply border-2;
   @apply shadow-sm;
   opacity: 0;
   transition: opacity 200ms ease;
}

.paragraph.success:after {
   opacity: 1;
}

.copy-paragraph:hover,
.sentence:hover {
  @apply bg-orange-100;
  outline: 2px solid #ffedd5;
}
